<div class="console-sub-title">
    约会列表
    <div data-g-loading-tip data-g-is-loading="isLoading" data-g-is-successed="isSuccessed"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">概览</div>
    <table class="table" style="margin-top: 10px;margin-left: 10px;margin-right: 10px ; width: 90%">
        <thead>
        <tr>
            <th>约会总数</th>
            <th>有效约会</th>
            <th>SuperLike</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ activitySumStatisData.activityTotal }}</td>
            <td>{{ activitySumStatisData.activityValidTotal }}</td>
            <td>{{ activitySumStatisData.activitySuperLike }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">约会列表</div>
    <div class="form-inline search-con" style="margin-top: 10px;margin-left: 10px;margin-right: 10px ;">
    <select class="form-control" ng-model="searchType">
        <option value="id">ID</option>
        <option value="name">约会名</option>
    </select>

    <input type="text" class="form-control" placeholder="输入关键字" style="max-width:140px;"
           ng-model="searchContent">


    <span style="margin-left: 10px;">男/女队名称</span>
    <input type="text" class="form-control" placeholder="输入关键字" style="max-width:140px;"
           ng-model="groupName">

    <span style="margin-left: 10px;">约会状态</span>
    <select class="form-control" ng-model="params.type">
        <option value="">全部</option>
        <option value="0">约会中</option>
        <option value="1">解散</option>
    </select>

    <span style="margin-left: 10px;">创建时间</span>

    <div class="input-group dropdown" style="width: 140px;">
        <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
            <div class="input-group">
                <input type="text" class="form-control" data-ng-model="params.registerTimeBegin"
                       data-date-time-input="YYYY-MM-DD" readonly>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="params.registerTimeBegin"
                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView: 'month', minView: 'day'}">
            </datetimepicker>
        </ul>
    </div>
    <span>-</span>

    <div class="input-group dropdown" style="width: 140px;">
        <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
            <div class="input-group">
                <input type="text" class="form-control" data-ng-model="params.registerTimeEnd"
                       data-date-time-input="YYYY-MM-DD" readonly>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="params.registerTimeEnd"
                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView: 'month', minView: 'day'}">
            </datetimepicker>
        </ul>
    </div>

    <button type="button" class="btn btn-default" ng-click="searchParam()">筛选</button>
    <button type="button" class="btn btn-default" ng-click="reset()">重置</button>

</div>
<div class="form-inline clearfix" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;" ng-click="dissolution()">
        解散
    </button>
    <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;" ng-click="export()">
        导出
    </button>
</div>

<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination class="grid" style="height:400px;"></div>
</div>