.ml10{
  margin-left: 10px;
}
.lh40{
  line-height: 40px;
}
.cp{
  cursor: pointer;
}
.m10{
  margin: 10px;
}
.mtb10{
  margin: 10px 0;
}
.mlr10{
  margin: 0 10px;
}
.mb5{
  margin-bottom: 5px;
}
.mb10{
  margin-bottom: 10px;
}
.dib{
  display: inline-block;
}
.minw105{
  min-width: 105px;
}
.w60I{
  width: 60px!important;
}
.p4{
  padding: 4px;
}
.b#ccc{
  border: 1px solid #cccccc;
}