$bg-dark-blue: #343948;
$bg-dark-grey: #747781;
$bg-light-grey: #c7c9cd;
$bg-dark-white: #e7e7e7;
$text-light-grey: #d7d8dd;
$text-red: #db8886;
$text-orange: #ffc068;
$border-grey: #cccccc;

$console-header-height: 100px;
$header-gap-bar-height: 30px;
$console-nav-width: 207px;
$console-group-name-height: 45px;
$console-group-item-height: 35px;